## 1. 14를 3으로 나누었을 때 몫과 나머지를 각각 출력하세요.

In [32]:
#몫
14 // 3

4

In [3]:
#나머지
14 % 3

2

## 2. "You need python" 문장을 변수에 할당하고 길이를 구해보세요.

In [4]:
string = "You need python"
len(string)

15

## 3. 문자열 포맷팅을 사용하여 4.254536를 소수점 두번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬되도록 해보세요.

In [23]:
a = "%0.2f" % 4.254536 #소수 두번째 자리까지 표시

In [25]:
"%10s" % a #전체길이 10개인 문자열공간

'      4.25'

In [33]:
#답

"%10.2f" % 4.254536 #전체길이 10에서 앞에 공백 들어가게 출력

'      4.25'

## 4. A = [1, 2, 3, 4, 5] 리스트에서 슬라이싱을 사용하여 리스트 [2, 3]을 만들어보세요.

In [6]:
A = [1, 2, 3, 4, 5]
A[1:3]

[2, 3]

## 5. (1, 2, 3)이라는 튜플 t1에 값 4를 추가하여 (1, 2, 3, 4)를 만들어 출력해보세요.

In [7]:
t1 = (1, 2, 3)
t2 = (4, )
t1+t2

(1, 2, 3, 4)

In [34]:
#답
#tuple에 값 추가하는 방법?
t1 = (1, 2, 3)
t1 + (4, )

(1, 2, 3, 4)

In [36]:
#or
t1 += (4, )
t1

(1, 2, 3, 4, 4)

## 6. name은 aaa, birth는 1128, age는 30이라는 자료를 딕셔너리로 만들어보세요.

In [8]:
#딕셔너리 만들기
dic = {'name': 'aaa', 'birth': 1128, 'age': 30}
dic

{'name': 'aaa', 'birth': 1128, 'age': 30}

## 7. 각 과목별 점수가 korean 80, english 75, math 55 라고 했을 때 각 변수에 할당하여 사칙연산을 이용하여 평균을 구해보세요.

In [9]:
korean = 80
english = 75
math = 55
(korean+english+math)/3
#이렇게 푸셨음

70.0

## 8. 13이 홀수인지 짝수인지 알아보기 위해 적절한 연산자를 사용하여 살펴보세요.

In [21]:
#이건 뭐지?
13%2 #2로 나누었을 때 나머지가 1이면 홀수, 아님 짝수

1

In [31]:
i = int(input())
if i % 2 == 1:
    print('홀수')
elif i % 2 == 0:
    print('짝수')

13
홀수

In [38]:
#답: %기호 응용
13 % 2 #1이면 홀수고 0이면 짝수

1

## 9. aaa씨의 주민등록번호는 001231-1234567 입니다. aaa씨의 주민등록번호를 연월일(YYMMDD) 부분과 그 뒤의 숫자(num) 부분으로 나누어 할당되도록 해보세요.

In [10]:
#슬라이싱
aaa = "001231-1234567"
aaa.split('-')

['001231', '1234567']

In [39]:
aaa = "001231-1234567"
YYMMDD = aaa[:6]
num = aaa[7:]
print(YYMMDD)
print(num)

001231
1234567

## 10. 문자열 a:b:c:d를 적절한 함수를 사용하여 a#b#c#d로 바꾸어 출력해보세요.

In [13]:
string = 'a:b:c:d'
string.replace(':', '#')

'a#b#c#d'

In [40]:
'a:b:c:d'.replace(':', "#")

'a#b#c#d'

## 11.  [1, 3, 5, 4, 2]라는 리스트 a를 역순으로 정렬되도록 적절한 함수를 사용하여 [5, 4, 3, 2, 1]로 만들어보세요.

In [15]:
a = [1, 3, 5, 4, 2]
a.sort()

In [16]:
a

[1, 2, 3, 4, 5]

In [17]:
a.reverse()

In [18]:
a

[5, 4, 3, 2, 1]

In [41]:
#답
#sorted쓰면 사실 더 편함.
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [44]:
a = [1, 3, 5, 4, 2]
a.sort(reverse=True)
#shift+tab누르면 설명

In [45]:
print(a)

[5, 4, 3, 2, 1]

## 12. ['Life', 'is', 'too', 'short']라는 리스트 b를 'Life is too short'라는 문자열 result가 되도록 적절한 함수를 사용하여 만들어 출력해보세요.

In [19]:
b = ['Life', 'is', 'too', 'short']
result=' '.join(b) #구분자 먼저

In [20]:
result

'Life is too short'

## 13. a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]라는 리스트에서 중복된 숫자들을 제거해보세요.

In [5]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set_a = set(a)
set_a

{1, 2, 3, 4, 5}

In [46]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a_new = list(set(a))
print(a_new)

[1, 2, 3, 4, 5]