# 두번째 수업 자료형: 리스트, 튜플, 집합, 불자료형

## 3) 리스트 자료형
- 대괄호([])로 둘러싸여있음
- 구분자는 쉼표
- 가장 많이 사용되는 대표적인 파이썬 자료형
- 값의 수정과 삭제가 가능하다
- 리스트의 요소는 인덱스 0부터 시작되어 순서대로 진행됨
- 인덱싱과 슬라이싱이 가능함

In [1]:
#예: 10미만의 홀수를 넣어주는 리스트를 만들고싶다
odd = [1, 3, 5, 7, 9] # 구분자는 쉼표

In [2]:
odd

[1, 3, 5, 7, 9]

In [3]:
a = []
b = [1, 2, 3]
c = ["Life", 'is']
d = [1, 2, 'Life'] #숫자 문자 한꺼번에도 가능
e = [1, 2, ['Life', 'is']]

#### (1) 리스트의 인덱싱과 슬라이싱

In [4]:
#인덱싱(하나씩 가져올 때)과 슬라이싱(부분을 가져올 때)
b[0] #첫번째 요소를 반환 cf. 문자열은 첫 글자

1

In [5]:
c[0]

'Life'

In [6]:
e[-1] #리스트 하나가 요소 하나가 됨

['Life', 'is']

In [7]:
e[-1][1]

'is'

In [8]:
#연산
b[1] + b[2]

5

In [9]:
e[-1][-1] #is를 반환하고싶다면

'is'

In [10]:
l1 = [1, 2, ['a', 'b', ['Life', 'is']]]

In [11]:
l1[-1]

['a', 'b', ['Life', 'is']]

In [12]:
l1[-1][-1]

['Life', 'is']

In [13]:
l1[-1][-1][0]

'Life'

In [14]:
# 슬라이싱

a = [1, 2, 3, 4, 5]

In [15]:
a[:2] #앞의 두 요소만 가져오기, 끝나는 번호보다 하나 더 큰 수를 가져온다

[1, 2]

In [16]:
a[2:]

[3, 4, 5]

In [17]:
#중첩된 리스트의 슬라이싱
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [18]:
a[3][:2] #중첩된 리스트에서의 슬라이싱

['a', 'b']

In [19]:
#리스트연산기호 사용
a = [1, 2, 3]
b = [4, 5, 6]
a + b #문자열과 마찬가지로 더하면 연결이 된다(두 리스트가 합쳐진다)

[1, 2, 3, 4, 5, 6]

In [20]:
#곱해주면 반복이된다
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
#문자열의 길이
len(a)

3

In [22]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
len(a) #요소의 수를 세는 것(리스트 일지라도 하나로 처리)

6

In [23]:
#리스트 연산 시 주의할 점
a[0]+'hello' #숫자와 문자는 함께 연산할 수 없다

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
str(a[0]) + "hello"

'1hello'

#### (2) 리스트 값 수정, 삭제

In [25]:
#값 수정, 삭제 가능
a

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [26]:
a[2]=4

In [27]:
a

[1, 2, 4, ['a', 'b', 'c'], 4, 5]

In [28]:
a[:2]

[1, 2]

In [29]:
a[:2]=[2, 3]

In [30]:
a

[2, 3, 4, ['a', 'b', 'c'], 4, 5]

In [31]:
#삭제는 del
del a[-1]

In [32]:
a

[2, 3, 4, ['a', 'b', 'c'], 4]

In [33]:
del a[3:]

In [34]:
a

[2, 3, 4]

#### (3) 리스트 관련 함수

In [35]:
#.append(): 리스트의 맨 마지막에 값 추가(하나의 값만)
a.append(5)

In [36]:
a

[2, 3, 4, 5]

In [37]:
a.append(6,7) #append함수는 하나의 값만 받을 수 있다.

TypeError: list.append() takes exactly one argument (2 given)

In [38]:
a.append([6,7])

In [39]:
a #리스트 자체가 하나의 요소가 됨

[2, 3, 4, 5, [6, 7]]

In [40]:
a.append(6).append(7) 
#a.append(6)까지는 정상적으로 실행됐는데 .append(7)에서 에러발생함

AttributeError: 'NoneType' object has no attribute 'append'

In [41]:
a.append(6)
a.append(7)

In [42]:
a

[2, 3, 4, 5, [6, 7], 6, 6, 7]

##### sort()함수

In [43]:
a.sort() #리스트 안에 리스트 있으면 정렬 시켜줄 수 없다

TypeError: '<' not supported between instances of 'list' and 'int'

In [44]:
a = [1, 2, 'a', 'b', 'c']

In [45]:
a.sort() #안에 문자가 있으면 정렬을 시켜줄 수 없다.

TypeError: '<' not supported between instances of 'str' and 'int'

In [46]:
a = [3,2,5,1,4]

In [48]:
a.sort()

In [49]:
a

[1, 2, 3, 4, 5]

In [50]:
a=['a', 'b', 'c']

In [51]:
a.sort()

In [52]:
a

['a', 'b', 'c']

##### reverse
역정렬이 아니라 그냥 현재의 리스트를 뒤집어주는 함수.

In [53]:
a.reverse() 
#그냥 현재의 리스트를 뒤집어주는 함수. 역순으로 정렬하는게 아님

In [54]:
a

['c', 'b', 'a']

In [90]:
b = ['b', 'a', 'c', 'd']

In [91]:
b.reverse()

In [92]:
b

['d', 'c', 'a', 'b']

In [55]:
a = [3,4,5,2,1]

In [56]:
a.reverse()

In [57]:
a

[1, 2, 5, 4, 3]

In [58]:
a

[1, 2, 5, 4, 3]

##### .index()
인덱스의 번호 반환

In [59]:
a.index(3) #인덱스 번호 반환

4

In [60]:
a[4]

3

In [61]:
a.index(0) #없는 값의 인덱스번호 찾게되면 에러

ValueError: 0 is not in list

In [62]:
a.find(3) #문자열에서만 사용가능하다. list에서 찾을 땐 index()활용해야한다

AttributeError: 'list' object has no attribute 'find'

##### in
해당 요소가 리스트에 있는지 확인(출력값 True, False)

In [63]:
3 in a

True

In [64]:
0 in a #인덱스 번호 찾고싶으면 .index(), 유무만 알고싶으면 in

False

In [65]:
#insert() (append는 맨 마지막에 요소추가)
a.insert(2, 0) #2와 5사이에 0추가
#2번째 자리에 0추가

In [66]:
a

[1, 2, 0, 5, 4, 3]

##### remove()

In [67]:
#리스트 요소 삭제 del, remove
a.remove(5)

In [68]:
a #리스트에서 5를 찾아서 삭제해줌

[1, 2, 0, 4, 3]

In [69]:
a = [1, 2, 3, 4, 5, 5, 5, 6]

In [70]:
a.remove(5)

In [71]:
a #맨 처음 5만 지워짐

[1, 2, 3, 4, 5, 5, 6]

In [72]:
a.remove(5)
a.remove(5)

In [73]:
a

[1, 2, 3, 4, 6]

In [74]:
a.remove(5)

ValueError: list.remove(x): x not in list

##### pop()

In [75]:
#pop()
a.pop() #마지막 요소값 출력함

6

In [76]:
a #마지막 요소값이 지워짐

[1, 2, 3, 4]

##### .count()

In [77]:
a = [1, 2, 3, 4, 1, 2, 3]

In [78]:
a.count(1) #문자열과 동일하게 사용가능

2

In [79]:
a.count(4)

1

In [80]:
a.count(0)

0

##### .extend()

In [81]:
#extend: append랑 비슷한데 더하기를 해주는 것
a = [1, 2, 3]

In [82]:
a.append(4)

In [83]:
a

[1, 2, 3, 4]

In [84]:
a.extend([5]) #5가 요소값으로 들어감

In [85]:
a

[1, 2, 3, 4, 5]

In [3]:
a = [1, 2, 3]
a.extend([4, 5, 6])
a #여러 요소도 붙여넣을 수 있음

[1, 2, 3, 4, 5, 6]

In [86]:
a + [5]

[1, 2, 3, 4, 5, 5]

In [87]:
b = [6, 7]

In [88]:
a.extend(b)

In [89]:
a

[1, 2, 3, 4, 5, 6, 7]

#### (4) 추가

In [4]:
#sum(): 리스트의 모든 값 합
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(a)

55

In [6]:
#clear(): 리스트의 모든 값 삭제
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.clear()
a

[]

## 4) 튜플자료형
- 소괄호로 둘러싸여있음() --> 괄호는 선언 시에 생략가능
- 요소를 하나만 넣으면 그냥 숫자로 인식하기 때문에 꼭 쉼표를 넣어주어야 함
- 구분자 쉼표
- 인덱싱과 슬라이싱 가능
- <b>단, 요소의 값을 수정 및 변경할 수 없음</b>

In [93]:
t1 = () #괄호사용

In [94]:
t2 = (1)

In [95]:
t2 #요소를 하나만 넣으면 그냥 숫자로 인식한다

1

In [96]:
#튜플로 인식시키고 싶으면 쉽표넣기
t2 = (1, )

In [97]:
t3 = (1, 2, 3)

In [100]:
t3

(1, 2, 3)

In [98]:
t4 = 1, 2, 3 #괄호 생략가능

In [99]:
t4

(1, 2, 3)

In [101]:
t5 = (1, 2, ('a', 'b'))

In [102]:
t5

(1, 2, ('a', 'b'))

In [103]:
#인덱싱 및 슬라이싱 가능 그러나 수정 및 삭제 불가능
#인덱싱
t5[0]

1

In [104]:
t5[0] = 2 #튜플은 값을 수정할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [105]:
del t5[0] #튜플은 값을 삭제할 수도 없다.

TypeError: 'tuple' object doesn't support item deletion

In [106]:
t5

(1, 2, ('a', 'b'))

In [107]:
t5[-1][0] #인덱싱

'a'

In [108]:
t5[:2] #슬라이싱

(1, 2)

In [109]:
t2

(1,)

In [110]:
t5 + t2 #연산 가능

(1, 2, ('a', 'b'), 1)

In [111]:
t2 * 3 #곱셈도 가능

(1, 1, 1)

In [112]:
#길이 구하기
len(t5)

3

### 5) 딕셔너리 자료형
- 중괄호로 둘러싸여있음
- key값과 value값의 쌍으로 이루어짐
- 리스트는 요소에 접근할 때 0부터 시작하는 인덱스를 사용, 딕셔너리는 key를 사용하여 접근
- 새로운 값을 입력하거나 딕셔너리 안에 있는 요소를 참조할 때 대괄호를 사용

In [113]:
dic = {'name': 'aaa', 'birth': 1231}

In [114]:
#인덱싱: key값 활용
dic['birth']

1231

In [115]:
#값 추가
dic['mobile']='01012345678'

In [116]:
dic

{'name': 'aaa', 'birth': 1231, 'mobile': '01012345678'}

In [117]:
dic['a']=[1, 2, 3]

In [118]:
dic

{'name': 'aaa', 'birth': 1231, 'mobile': '01012345678', 'a': [1, 2, 3]}

In [119]:
dic['b']=(2, 3, 4)

In [121]:
dic

{'name': 'aaa',
 'birth': 1231,
 'mobile': '01012345678',
 'a': [1, 2, 3],
 'b': (2, 3, 4)}

In [122]:
dic[[1, 2]]='a' #key값으로는 list, tuple자료형 넣을 수 없다

TypeError: unhashable type: 'list'

#### (1) 관련된 함수

In [123]:
#key값만 따로 추출해서 살펴보고 싶다.
dic.keys()

dict_keys(['name', 'birth', 'mobile', 'a', 'b'])

In [124]:
dic_keys=dic.keys()

In [125]:
dic_keys[2] #인덱싱을 할 수 없다. 따라서 리스트 자료형으로 변환

TypeError: 'dict_keys' object is not subscriptable

In [126]:
dic_keys = list(dic_keys)

In [127]:
dic_keys

['name', 'birth', 'mobile', 'a', 'b']

In [128]:
dic_keys[2]

'mobile'

In [129]:
#value값만 따로 추출해서 살펴보고 싶다.
dic.values()

dict_values(['aaa', 1231, '01012345678', [1, 2, 3], (2, 3, 4)])

In [130]:
list(dic.values())

['aaa', 1231, '01012345678', [1, 2, 3], (2, 3, 4)]

In [131]:
#각각을 튜플형태로 추출하고 싶다
dic.items()

dict_items([('name', 'aaa'), ('birth', 1231), ('mobile', '01012345678'), ('a', [1, 2, 3]), ('b', (2, 3, 4))])

In [132]:
t_dic = tuple(dic.items())

In [133]:
t_dic

(('name', 'aaa'),
 ('birth', 1231),
 ('mobile', '01012345678'),
 ('a', [1, 2, 3]),
 ('b', (2, 3, 4)))

In [134]:
dic['name'] #key값으로 value값 찾기

'aaa'

In [135]:
dic.get('name')

'aaa'

In [136]:
dic.get('phone') #없는 key를 찾으면 아무것도 출력되지않음

In [137]:
dic['phone'] #대괄호로 찾으면 KeyError발생

KeyError: 'phone'

In [138]:
#특정한 문구가 나왔으면 좋겠다
dic.get('phone', '9999') #없을 때 9999발생

'9999'

In [139]:
dic.get('name', '9999') #있을 땐 해당하는 value값 출력됨
#for문 돌면서 찾을 때 없는 경우 설정할 수 있음

'aaa'

In [140]:
'name' in dic

True

In [141]:
'phone' in dic

False

In [142]:
1231 in dic #value값으로는 찾을 수 없다.

False

### 6) 집합 자료형
- 선언 할 때는 set(['요소1', '요소2']) 출력 시에는 중괄호로 둘러싸임{}
- 교집합, 차집합, 합집합과 같은 집합 연산 가능
- <b>중복된 요소를 가질 수 없음(unique word구할 때 좋음)</b>
- <b>요소의 순서가 존재하지 않음(인덱싱과 슬라이싱 불가능)</b>

In [143]:
s1 = set([1, 2, 3])

In [144]:
s1 #표시는 중괄호

{1, 2, 3}

In [145]:
s2 = set("Hello")

In [146]:
s2 #각 스펠들이 쪼개져서 들어가게 됨.
# 중복을 허용하지 않는다.
# 순서가 없다(인덱싱과 슬라이싱이 불가능)

{'H', 'e', 'l', 'o'}

In [147]:
s2[0]

TypeError: 'set' object is not subscriptable

In [148]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [149]:
###교집합, 합집합, 차집합
#교집합
s1 & s2

{4, 5, 6}

In [150]:
s1.intersection(s2) #함수사용

{4, 5, 6}

In [151]:
s2.intersection(s1) #교집합은 순서 바꿔도 동일

{4, 5, 6}

In [152]:
s2 & s1

{4, 5, 6}

In [153]:
#합집합
s1 | s2 #|는 vertical bar, or에 해당하는 기호로 사용한다.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [154]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [155]:
#차집합
s1 - s2 #순서에 주의할 것

{1, 2, 3}

In [156]:
s1.difference(s2)

{1, 2, 3}

In [157]:
s2.difference(s1)

{7, 8, 9}

In [158]:
s2 - s1

{7, 8, 9}

주요함수 알아보기

In [159]:
#값추가 add(한개의 값만 추가)
s1.add(7)

In [161]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [162]:
#여러개의 값을 추가하고 싶다: update
s1.update([8, 9, 10]) #리스트 , 튜플 가능

In [164]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [165]:
#remove함수
s1.remove(3)

In [166]:
s1

{1, 2, 4, 5, 6, 7, 8, 9, 10}

### 7) 불자료형

- True, False 값만 가질 수 있음  
- 조건문의 반환값으로 사용된다

In [167]:
a = True

In [168]:
type(a)

bool

In [169]:
1 == 1

True

In [170]:
#자료형에 따라 참과 거짓이 있다
'''문자열은 값이 뭐라도 하나 있으면 참 비어있으면 거짓'''
bool("abc")

True

In [171]:
bool()

False

In [172]:
bool([1, 2, 3]) #리스트도 안에 값이 있으면 참 비어있으면 거짓

True

In [173]:
bool([])

False

In [174]:
bool((1, 2, 3))

True

In [175]:
bool(())

False

In [176]:
bool({}) #딕셔너리도 마찬가지

False

In [177]:
#숫자형은 비어있는 것을 만들 수 없으므로 none일 때 false
bool(None)

False

In [178]:
bool(1)

True

In [179]:
bool(0) 
#나중에 while문이나 조건문 나올 때 사용됨. 기억하기. 숫자0은 0도 거짓

False

In [182]:
#문자열 질문
str1 = "abc"
str2 = 'abc'

In [183]:
str1

'abc'

In [184]:
str2

'abc'

In [185]:
str3="python's favorite..."

In [186]:
str3 
#문자열 안에 '이 있으므로 큰따옴표가 함께 출력된다.

"python's favorite..."

In [187]:
str.append('a')

AttributeError: 'str' object has no attribute 'append'

In [2]:
#블로그에 올리려고 추가하는 코드
from IPython.core.display import display, HTML
display(HTML("<style> .container{width:90% !important;}</style>"))