## 1) 숫자형

In [1]:
## 변수
a = 1 #변수에 할당

In [2]:
a

1

In [3]:
print(a) #print를 활용해서 출력할 수 있다.

1

In [4]:
type(a) #정수형(int)

int

In [5]:
b = 1.2 #실수형(float)

In [6]:
type(b)

float

In [7]:
#연산가능
a = 3
b = 4
a+b

7

In [8]:
a*b #곱셈

12

In [9]:
a/b

0.75

In [10]:
a - b

-1

In [11]:
a ** b #a의 b제곱

81

In [12]:
7%3 #7을 3으로 나눠주었을 때 나머지

1

In [13]:
7 // 3 #몫

2

In [14]:
7/3 #그냥 나누기

2.3333333333333335

## 2) 문자열 자료형

In [15]:
a = "Hello World"

In [16]:
a

'Hello World'

In [17]:
a='Hello'

In [18]:
a

'Hello'

In [19]:
a = """Python's """

In [20]:
a #큰 따옴표가 함께 출력됨

"Python's "

In [21]:
say="Python is very easy." he says.

SyntaxError: invalid syntax (<ipython-input-21-7ac6d38726b0>, line 1)

In [22]:
say = '"Python is very easy". he says'

In [23]:
say

'"Python is very easy". he says'

In [24]:
say = '\"Python is very easy\". he says' #escape code
#주로 문자열을 보기좋게 나열하기 위해 사용
#\n, \t, \n, \', \"주로 사용

In [25]:
say

'"Python is very easy". he says'

In [26]:
food = 'Python\'s favorite food is perl.'

In [27]:
food

"Python's favorite food is perl."

In [28]:
multiline="Life is too short\nyou need python"

In [29]:
multiline

'Life is too short\nyou need python'

In [30]:
print(multiline)

Life is too short
you need python

In [31]:
tabs = "Life is too short\tyou need python"

In [32]:
print(tabs) #하나의 탭 간격이 들어감

Life is too short	you need python

In [33]:
a = "a\b\c"

In [34]:
print(a)

a\c

In [36]:
a="a\\b\\c"

In [37]:
print(a)

a\b\c

In [40]:
##문자열 연산
a = "Python"
b = " is fun"
a+b

'Python is fun'

In [41]:
a+2 # can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [42]:
a + str(2) 
#다른 데이터타입을 string으로 바꿔주는 str함수사용
#숫자열을 문자열로 바꿔줌

'Python2'

In [43]:
a * 2 #문자열의 반복

'PythonPython'

In [44]:
"=" * 50

'=================================================='

In [46]:
print("=" * 50)
print("result")
print("=" * 50)

==================================================
result
==================================================

In [47]:
#문자열 길이세기(문자+공백+특수문자)
a = "Life is too short"

In [48]:
len(a) #공백포함

17

#### 문자열 인덱싱과 슬라이싱

In [49]:
a = "Life is too short. You need Python."

In [50]:
len(a) #마지막 문자(.)가 34번. 0번부터 시작함

35

In [51]:
a[0]

'L'

In [52]:
a[3]

'e'

In [53]:
a[34]

'.'

In [54]:
a[-1] #뒤에서부터 세는 것. -0개념이 없기에 -1부터 시작

'.'

In [55]:
a[-5]

't'

In [56]:
a[0] + a[1] + a[2] + a[3]

'Life'

끝나는 숫자보다 하나 더 크게 숫자를 설정해준다

In [58]:
a[0:4] #끝나는 숫자보다 하나 더 크게!!!

'Life'

In [59]:
a[0:5] #공백까지 출력

'Life '

In [60]:
a[:6] #0부터 시작하고 싶을 때

'Life i'

In [61]:
a[19:]

'You need Python.'

In [62]:
a[:]

'Life is too short. You need Python.'

In [63]:
a[19:-5] #뒤에서 다섯번째 t.바로 그 전까지 출력됨

'You need Py'

In [64]:
a = "20220110Cloudy"

In [72]:
day = a[6:8] #correct
mon = a[4:6] #correct
year = a[:4] #correct
weather = a[8:] #

In [73]:
print(day)
print(mon)
print(year)
print(weather)

10
01
2022
Cloudy

문자열 포맷팅

In [75]:
"I eat %d apples." %3

'I eat 3 apples.'

In [76]:
"I eat %d apples. " %"five"

TypeError: %d format: a number is required, not str

In [78]:
"I eat %s apples." %"five"

'I eat five apples.'

In [79]:
"I eat %s apples. " %"5"

'I eat 5 apples. '

In [80]:
num = 10
day = "three"
"I ate %d apples. so I was sick for %s days." %(num, day)

'I ate 10 apples. so I was sick for three days.'

In [82]:
"%10s" % "hi" #문자열까지 합쳐서 10칸

'        hi'

In [83]:
"%10s" % "hello" 
#전체길이 10. 뒤에는 내가 원하는 문자열 들어가도록 맞춰주기

'     hello'

In [ ]:
#문자열 먼저나오고 뒤에 문자열 길이 맞춰주고 싶음

In [84]:
"%-10s" % "hi"

'hi        '

In [85]:
"%-10s" % "hello"

'hello     '

In [86]:
#앞뒤로 맞춰주고 싶음
"%-10shello"%"hi" #hi나오고 10칸 그다음 hello

'hi        hello'

In [ ]:
#소수점 나올 때 많이 사용

In [87]:
"%0.3f" % 3.42134234 #세자리까지 먼저 나오기
#f=float, n자리에 출력을 원하는 자리수를 입력

'3.421'

In [88]:
"%0.2f" % 3.42134234

'3.42'

In [89]:
#포맷함수 사용
"I eat {0} apples".format(3)

'I eat 3 apples'

In [90]:
"I eat {0} apples".format("five")

'I eat five apples'

In [91]:
num=3
"I eat {0} apples".format(num)

'I eat 3 apples'

In [93]:
num = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(num, day)

'I ate 10 apples. so I was sick for three days.'

In [94]:
"I ate {num} apples. so I was sick for {day} days.".format(num=10, day="three")

'I ate 10 apples. so I was sick for three days.'

문자열 관련 함수

In [95]:
a = 'hobby'
a.count('b')

2

In [96]:
a = 'hobby'
a.count('a')

0

In [97]:
a = 'hobby'
a.count('ob') #안에 몇개 있는지 세어줌

1

In [98]:
a = 'Python is the best choice.'

In [99]:
a.find('b') #인덱싱 번호를 알려주는 것

14

In [100]:
a[14]

'b'

In [101]:
a.find('k') #없는 것 찾으면 -1반환

-1

In [102]:
a.index('b')

14

In [103]:
a.index('k') #없을 때 에러발생

ValueError: substring not found

In [104]:
a.find('t') #여러 개 있는 경우 첫번째 위치만 반환

2

In [105]:
",".join('abcd')

'a,b,c,d'

In [106]:
" ".join('abcd')

'a b c d'

In [107]:
";".join('abcd')

'a;b;c;d'

In [108]:
a = 'hi'
a.upper()

'HI'

In [109]:
b="HI"
b.lower()

'hi'

In [113]:
a = '  hi  '

In [114]:
a.lstrip() #왼쪽 공백 지우기

'hi  '

In [115]:
a.rstrip()

'  hi'

In [116]:
a.strip()

'hi'

In [117]:
a = "Life is too short. You need Python."

In [118]:
a.replace('Life', 'Study')

'Study is too short. You need Python.'

In [119]:
a.split()

['Life', 'is', 'too', 'short.', 'You', 'need', 'Python.']

In [120]:
b = 'a:b:c:d'

In [121]:
b.split(':')

['a', 'b', 'c', 'd']

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))